// Navigation code here
body {
    align-items: flex-start;
    .navigation {
        .sticky();
        background-color: @porcelain;
        border-radius: 25px;
        opacity: 0.9;
    }
}
.navigation {
    font-size: 1.5rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    h1{
        font-size: 3.2rem;
        text-align: center;
        margin-top: 2%;
    } //h1
    nav {
        .disp(flex);
        .dir(row);
        margin-left: 20%;

        @media @mobile {
            margin-left: 1%;
            flex-wrap: wrap;
        }
        a {
            text-decoration: none;
            color: black;
            margin: 5%;

            @media @mobile {
                margin: 3%;
            }
        }
    } //nav
}